@font-face {
    font-family: 'Chivo';
    src: url('../fonts/chivo/Chivo-BlackItalic.woff2') format('woff2'),
        url('../fonts/chivo/Chivo-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Chivo';
    src: url('../fonts/chivo/Chivo-Black.woff2') format('woff2'),
        url('../fonts/chivo/Chivo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chivo';
    src: url('../fonts/chivo/Chivo-Bold.woff2') format('woff2'),
        url('../fonts/chivo/Chivo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chivo';
    src: url('../fonts/chivo/Chivo-Italic.woff2') format('woff2'),
        url('../fonts/chivo/Chivo-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Chivo';
    src: url('../fonts/chivo/Chivo-Light.woff2') format('woff2'),
        url('../fonts/chivo/Chivo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chivo';
    src: url('../fonts/chivo/Chivo-BoldItalic.woff2') format('woff2'),
        url('../fonts/chivo/Chivo-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Chivo';
    src: url('../fonts/chivo/Chivo-Regular.woff2') format('woff2'),
        url('../fonts/chivo/Chivo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chivo';
    src: url('../fonts/chivo/Chivo-LightItalic.woff2') format('woff2'),
        url('../fonts/chivo/Chivo-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

